*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    height: 100vh;
    background-color: teal;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.entry{
    height: 80%;
    width: 70%;
    background-color:chocolate;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
#header{
    margin: 20px;
    color:black;
    font-family: 'Rubik Dirt', cursive
}
#forme{
 display: flex;
 flex-direction: column;
 font-size: 18px;
}
.format{
    display: flex;
    position: relative;
    align-items:center;
    justify-content:end;
    width: 400px;
    padding: 10px;
}
label{
    position: relative;
    right: 40px;
}
input
{
    width: 180px;
}
#cars
{
    width: 180px;
    height: 20px;
    box-shadow: 2px 2px;
}
.rad{
    display: flex;
    flex-direction: column;
    
    border: 2px solid blue;
    width: 180px;
}
.radi
{
    padding: 2px;
    display: flex;
    flex-direction: row;
}